{% extends '@runroom/layouts/_default.html.twig' %}

{% block content %}
    <div class="u-wrapper u-wrapper--reading">
        <div class="cookies form u-wysiwyg js-cookies-form">
            {% if introduction %}
                {{ introduction|raw }}
            {% endif %}
            <h2 class="cookies__title">{{ 'cookies.mandatory_cookies.title'|trans }}</h2>
            <div class="cookies__checkbox form__element is-checkbox">
                <input type="checkbox" class="form-checkbox checkbox" id="mandatory" name="mandatory" {% if form.mandatory['#checked'] %}checked{% endif %} {% if form.mandatory['#attributes']['disabled'] %}disabled{% endif %}>
                <label class="input-checkbox" for="mandatory">
                    <span class="checkmark checkmark--small"></span>
                    <span class="subtitle">{{ 'cookies.mandatory_cookies.label'|trans }}</span>
                </label>
            </div>
            <p>{{ 'cookies.mandatory_cookies.text'|trans }}</p>
            {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.mandatory_cookies } %}

            <h2 class="cookies__title">{{ 'cookies.performance_cookies.title'|trans }}</h2>
            <div class="cookies__checkbox form__element is-checkbox">
                <input type="checkbox" class="form-checkbox checkbox js-cookies-performance-checkbox" id="performance" name="performance" {% if form.performance['#checked'] %}checked{% endif %} {% if form.performance['#attributes']['disabled'] %}disabled{% endif %}>
                <label class="input-checkbox" for="performance">
                    <span class="checkmark checkmark--small"></span>
                    <span class="subtitle">{{ 'cookies.performance_cookies.label'|trans }}</span>
                </label>
            </div>
            <p>{{ 'cookies.performance_cookies.text'|trans }}</p>
            {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.performance_cookies } %}

            <h2 class="cookies__title">{{ 'cookies.targeting_cookies.title'|trans }}</h2>
            <div class="cookies__checkbox form__element is-checkbox">
                <input type="checkbox" class="form-checkbox checkbox js-cookies-targeting-checkbox" id="targeting" name="targeting" {% if form.targeting['#checked'] %}checked{% endif %} {% if form.targeting['#attributes']['disabled'] %}disabled{% endif %}>
                <label class="input-checkbox" for="targeting">
                    <span class="checkmark checkmark--small"></span>
                    <span class="subtitle">{{ 'cookies.targeting_cookies.label'|trans }}</span>
                </label>
            </div>
            <p>{{ 'cookies.targeting_cookies.text'|trans }}</p>
            {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.targeting_cookies } %}
        </div>
        <button class="cookies__button button button--secondary js-cookies-save-preferences">{{ 'cookies.save_settings'|trans }}</button>
        <p class="u-hide cookies__success js-cookies-settings-saved">{{ 'cookies.updated'|t }}</p>
    </div>
{% endblock %}
