{% extends '@runroom/layouts/_default.html.twig' %}

{% block content %}
    <div class="wrapper">
        <h1 class="my-8">{{ cookiesPage.label }}</h1>
        <div class="wysiwyg">{{ cookiesPage.field_introduction.value|raw }}</div>
        <form class="form wysiwyg py-8 js-cookies-form">
            <section class="py-4">
                <div class="s768:flex justify-between">
                    <h2>{{ 'cookies.mandatory_cookies.title'|trans }}</h2>
                    {{ form.mandatory }}
                </div>
                <p>{{ 'cookies.mandatory_cookies.text'|trans }}</p>
                {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.mandatory_cookies } %}
            </section>

            <section class="py-4">
                <div class="s768:flex justify-between">
                    <h2>{{ 'cookies.performance_cookies.title'|trans }}</h2>
                    {{ form.performance }}
                </div>
                <p>{{ 'cookies.performance_cookies.text'|trans }}</p>
                {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.performance_cookies } %}
            </section>

            <section class="py-4">
                <div class="s768:flex justify-between">
                    <h2>{{ 'cookies.targeting_cookies.title'|trans }}</h2>
                    {{ form.targeting }}
                </div>
                <p>{{ 'cookies.targeting_cookies.text'|trans }}</p>
                {% include '@runroom/components/_cookies-list.html.twig' with { cookiesList: cookies.targeting_cookies } %}
            </section>

            {{ form.submit }}
            <p class="text-sm hidden js-cookies-settings-saved">{{ 'cookies.updated'|t }}</p>
        </form>
    </div>
{% endblock %}
