<table class="cookies__table table table--responsive">
    <thead>
        <tr>
            <th>{{ 'cookies.table.category'|trans }}</th>
            <th>{{ 'cookies.table.cookies'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for category in cookies %}
            <tr>
                <td data-label="{{ 'cookies.table.category'|trans }}">
                    <p>{{ category.name }}</p>
                </td>
                <td data-label="{{ 'cookies.table.cookies'|trans }}">
                    <ul>
                        {% for cookie in category.cookies %}
                            <li>{{ cookie.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
