<div>
    {% if introduction %}{{ introduction|raw }}{% endif %}

    <h2>Mandatory cookies</h2>
    {{ form.mandatory }}
    {% include '@cookies/cookies-list.html.twig' with { cookiesList: cookies.mandatory_cookies } %}

    <h2>Performance cookies</h2>
    {{ form.performance }}
    {% include '@cookies/cookies-list.html.twig' with { cookiesList: cookies.performance_cookies } %}

    <h2>Targeting cookies</h2>
    {{ form.targeting }}
    {% include '@cookies/cookies-list.html.twig' with { cookiesList: cookies.targeting_cookies } %}

    {{ form.submit }}
</div>
