<!DOCTYPE html>
<html{{ html_attributes.addClass('non-touch no-js') }}>
    <head>
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>

        {% include '@runroom/helpers/_fonts.html.twig' %}
        {% include '@runroom/helpers/_favicon.html.twig' %}
        <style type="text/css">
            {% block crp %}
                {% include '@runroom/crp/default.min.css' %}
            {% endblock %}
        </style>
        <js-placeholder token="{{ placeholder_token|raw }}">
    </head>
    <body{{ attributes }}>
        <noscript>
            <style type="text/css">
                .animate {
                    opacity: 1;
                    transform: none;
                }

                @media print {
                    .animate {
                        opacity: 1;
                        transform: none;
                    }
                }
            </style>
        </noscript>

        {{ page_top }}
        {{ page }}
        {{ page_bottom }}

        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>
