<!DOCTYPE html>
<html{{ html_attributes.addClass('non-touch no-js') }}>
    <head>
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>

        {% include directory ~ '/templates/helpers/fonts.html.twig' %}
        {% include directory ~ '/templates/helpers/favicon.html.twig' %}
        <style type="text/css">
            {% block crp %}
                {% include directory ~ '/templates/crp/default.min.css' %}
            {% endblock %}
        </style>
        <js-placeholder token="{{ placeholder_token|raw }}">
    </head>
    <body{{ attributes }}>

        {{ page_top }}
        {{ page }}
        {{ page_bottom }}

        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>
