{% if label_hidden %}

    {% for item in items %}

        <div>
            {{ item.content }}
        </div>

    {% endfor %}

{% else %}

    <div{{ attributes }}>

        <div{{ title_attributes }}>{{ label }}</div>

        {% for item in items %}

            <div>
                {{ item.content }}
            </div>

        {% endfor %}

    </div>

{% endif %}

{{ attach_library('hipartners/slider') }}
