{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

{% set videoId = content.field_youtube_video['#object'].get('field_youtube_video').getValue()[0]['video_id'] %}
{% set videoCover = content.field_image.0['#item'].entity.uri.value %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="Video u-flex--center u-wrapper">
                <div class="Video-wrapper u-flex--s0-12 u-flex--s768-10">
                    <h2 class="Video-title">
                        {{ content.field_module_title }}
                    </h2>
                    <div class="Video-content">
                        <div class="video-iframe">
                            <div class="youtube-player" data-id="{{ videoId }}" {% if videoCover %}data-cover="{{ file_url(videoCover) }}"{% endif %}></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    {{ attach_library('hipartners/youtube') }}
{% endblock paragraph %}
