{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class, 'map'
] %}

{% block paragraph %}
    <section{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="map-container u-wrapper u-flex--s768 u-flex--wrap">
                {% if isBasicTemplateStyle %}
                <div class="content u-flex--s0-12  u-flex--s768-12">
                {% else %}
                <div class="u-flex--s0-12 u-flex--s960-1"></div>
                <div class="content u-flex--s0-12  u-flex--s768-10 u-flex--s960-4">
                {% endif %}
                    {{ content.field_subtitle }}
                    <div class="map-info anim anim--text">
                        {{ content.field_long_text }}
                        {{ content.field_phone }}
                        {{ content.field_email }}
                        {{ content.field_extra_information }}
                    </div>
                </div>

                {% if content.field_geo is not empty %}
                    {% if isBasicTemplateStyle %}
                    <div class="u-flex--s0-12 u-flex--s960-2"></div>
                    <div class="hotel-map-wrapper hotel-map-wrapper--margin anim anim--box u-flex--s0-12 u-flex--s768-12 u-flex--s960-10">
                    {% else %}
                    <div class="u-flex--s0-12 u-flex--s960-1"></div>
                    <div class="hotel-map-wrapper anim anim--box u-flex--s0-12 u-flex--s768-10 u-flex--s960-5">
                    {% endif %}
                        <div class="hotel-map" data-lat="{{ content.field_geo.0['#lat'] }}" data-long="{{ content.field_geo.0['#lng'] }}" id="hotel-map"></div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </section>
{% endblock paragraph %}

{{ attach_library('hipartners/google.maps') }}
