{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'description-load'
] %}

{% block paragraph %}

    {% if content.field_link_file[0] is not null %}
        <section{{ attributes.addClass(classes) }}>
            <div class="description-load-container u-wrapper u-flex--alignStart u-flex--s1024">
                {% block content %}
                <div class="content u-flex--s0-12 u-flex--s1024-5">
                    <div class="color-wrapper">
                        <h2 class="t-h2 t-white">{{ content.field_module_title }}</h2>
                        <div class="text">
                          {{ content.field_long_text }}

                          <a class="link link-white" href="{{ path(content.field_cta[0]['#url'].getRouteName(), content.field_cta[0]['#url'].getRouteParameters()) }}">
                            {{ content.field_cta[0]['#title'] }} {{ macros.icon('arrow') }}
                          </a>
                        </div>
                    </div>
                </div>
                <div class="links u-flex--s0-12 u-flex--s1024-5">
                    {{ content.field_link_file }}
                </div>
                {% endblock %}
            </div>
        </section>
    {% endif %}

{% endblock paragraph %}
