{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'text-image',
    content.field_image_position['#object'].get('field_image_position').getValue()[0]['value']
] %}

{% block paragraph %}
    <section{{ attributes.addClass(classes) }}>
        <div class="text-image-container u-wrapper u-flex--alignCenter u-flex--s768">
            {% block content %}
                {% if isBasicTemplateStyle %}
                    <div class="description-load description-load--img">
                        <div class="description-load-container description-load-container--nopadding u-flex--alignStart u-flex--s1024">
                            <div class="content u-flex--s0-12 u-flex--s1024-6">
                                <div class="color-wrapper color-wrapper--light">
                                    <h2 class="t-h2">{{ content.field_subtitle }}</h2>
                                    <div class="text anim anim--text">
                                        {{ content.field_long_text }}

                                        {% if content.field_cta['#items'] %}
                                        <a class="link" href="{{ path(content.field_cta[0]['#url'].getRouteName(), content.field_cta[0]['#url'].getRouteParameters()) }}">
                                            {{ content.field_cta[0]['#title'] }} {{ macros.icon('arrow') }}
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="hotels u-flex--s0-12 u-flex--s1024-6">
                                <div class="image">
                                    {{ content.field_image }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="content u-flex--s0-12 u-flex--s768-5">
                        <h2 class="t-h2">{{ content.field_subtitle }}</h2>
                        <div class="image-mobile">
                            {{ content.field_image }}
                        </div>
                        <div class="text anim anim--text">
                            {{ content.field_long_text }}

                            {% if content.field_cta['#items'] %}
                                <a class="link" href="{{ path(content.field_cta[0]['#url'].getRouteName(), content.field_cta[0]['#url'].getRouteParameters()) }}">
                                    {{ content.field_cta[0]['#title'] }} {{ macros.icon('arrow') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="u-flex--s0-12 u-flex--s768-5">
                        <div class="image anim anim--box">
                            {{ content.field_image }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>

    </section>
{% endblock paragraph %}
