{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'actualidad-links-block'
] %}

{% block paragraph %}

    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="u-flex--s768">
                <div class="u-flex--s0-12 u-flex--s768-6">
                    <h4 class="t-h4 subtitle anim">
                        {{ content.field_module_title }}
                    </h4>
                </div>
                <div class="u-flex--s0-12 u-flex--s768-6">
                    {{ content.field_views }}

                    {% if content.field_cta['#items'] is defined %}
                        <a class="link link-right" href="{{ path(content.field_cta[0]['#url'].getRouteName(), content.field_cta[0]['#url'].getRouteParameters()) }}">
                            {{ content.field_cta[0]['#title'] }} {{ macros.icon('arrow') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}
