{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% if links -%}
<div class="Languages">
  <span class="Languages-current js-languagesOpener">{{ language }}{{ macros.icon('arrow-lang') }}</span>
  <ul class="Languages-selector" {{ attributes }}>
        {%- for item in links -%}
            {% if item.link['#title'] != language|upper %}
                <li{{ item.attributes }}>
            {%- if item.link -%}{{ item.link }}{%- endif -%}
                </li>
            {% endif %}
        {%- endfor -%}
  </ul>
  <ul class="Languages-mobile">
        {%- for item in links -%}
                <li{{ item.attributes }}>
            {%- if item.link -%}{{ item.link }}{%- endif -%}
                </li>
        {%- endfor -%}
  </ul>
</div>
{%- endif %}
