{% set classes = [
    label_display in ['after'] ? 'form__field--inline' : 'form__field',
    'js-form-item',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors ? 'text-red-500',
] %}

<div {{ attributes.addClass(classes) }}>
    {% if label_display in ['before', 'invisible'] %}
        {{ label }}
    {% endif %}

    {{ children }}

    {% if label_display == 'after' %}
        {{ label }}
    {% endif %}

    {% if errors %}
        <span class="text-sm text-red-500 italic">
            {{ errors }}
        </span>
    {% endif %}
</div>
