<html width="450px">
<head>
    -----------------------------------------------------------------------------
    <br>
    <title>FORMULARIO APLIACACIÓN OFERTA DE TRABAJO</title>
    <br>
    -----------------------------------------------------------------------------
</head>
<body>
<table>
    <tr>
        <td>
            <br>
            {{ 'Name'|t }}: {{ name }}
            <br>
            {{ 'Phone'|t }}: {{ phone }}
            <br>
            {{ 'E-mail'|t }}: {{ email }}
            <br>
            {% if linkedin is empty %}
                {{ 'No LinkedIn profile added'|t }}
            {% else %}
                {{ 'Linkedin Profile'|t }}: <a href="{{ linkedin }}">{{ linkedin }}</a>
            {% endif %}
            <br>

            -----------------------------------------------------------------------------

            {% if fieldUri is empty %}
            {{ 'No attachment added'|t }}
            {% else %}
            <br>
            {{ 'CV Attached'|t }}:
            <br>
            <a href="{{ baseUrl }}{{ file_url(fieldUri) }}">{{ baseUrl }}{{ file_url(fieldUri) }}</a>
            {% endif %}


            -----------------------------------------------------------------------------
        </td>
    </tr>
</table>
</body>
</html>