<html width="450px">
<head>
    -----------------------------------------------------------------------------
    <br>
    <title>FORMULARIO CONTACTO HIPARTNERS</title>
    <br>
    -----------------------------------------------------------------------------
</head>
<body>
<table>
    <tr>
        <td>
            <br>
            {{ 'Name'|t }}: {{ name }}
            <br>
            {{ 'Phone'|t }}: {{ phone }}
            <br>
            {{ 'E-mail'|t }}: {{ email }}
            <br>
            {{ 'Reason'|t }}: {{ reason }}
            <br>
            -----------------------------------------------------------------------------
            <br>
            {{ 'Request'|t }}:
            <br><br>
            {{ text|raw }}
            <br>
            -----------------------------------------------------------------------------
        </td>
    </tr>
</table>
</body>
</html>