{% spaceless %}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        {% include directory ~ '/templates/helpers/gtm.html.twig' %}
        {% include directory ~ '/templates/helpers/webmastertools.html.twig' %}
        {% include directory ~ '/templates/helpers/fonts.html.twig' %}
        {% include directory ~ '/templates/helpers/hotjar.html.twig' %}
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        {% include directory ~ '/templates/helpers/favicons.html.twig' %}
        {% block crp %}
            {% include directory ~ '/templates/crp-styles/default.html.twig' %}
        {% endblock %}
        <js-placeholder token="{{ placeholder_token|raw }}">
        {% include directory ~ '/templates/helpers/analytics.html.twig' %}

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#051c2c">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#051c2c">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

    </head>
    <body{{ attributes }}>
        {% include directory ~ '/templates/helpers/gtm-body.html.twig' %}
        <div style="height: 0; width: 0; position: absolute; top: -99999px; visibility: hidden">{% include directory ~ '/img/svg/sprites.svg' %}</div>
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
        <css-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>
{% endspaceless %}
