<div class="layout-container user-layout-container">

    <header role="banner">
        {{ page.header }}
    </header>

    <section class="help-region">
        {{ page.help }}
    </section>

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <div class="layout-content">
            {{ page.content }}
        </div>

    </main>

    <div class="cta-home">
        <h1 class="t-h1">User page</h1>
        <h3 class="t-h3">Go <a href="{{ url('<front>') }}">{{ 'home'|t }}</a></h3>
    </div>

    <footer role="contentinfo">
        {{ page.footer }}
    </footer>

</div>
