{% extends directory ~ '/templates/layout/hero/hero-page-basic.html.twig' %}

{% block attributes %}
    {{ attributes.addClass('basic-template') }}
{% endblock %}

{% block heroCopies %}
    <div class="Sidemenu-mobile">
        {{ drupal_block(menu_belongs_id, FALSE) }}
    </div>
    <h1 class="t-h1" itemprop="name">{{ content.field_header_title }}</h1>
{% endblock %}

{% block content %}
    {% if content.field_sidebar_show[0]['#markup'] != 'On' %}
    <div class="u-wrapper u-flex--justifyCenter u-flex--s768">
        <div class="main-content u-flex--s768-8 u-flex--s1024-7 u-flex--s1440-6">
                {{ content.field_team_members }}
            </div>
        </div>
    {% else %}
    <div class="Team u-wrapper u-flex--wrap u-flex--s768">
        <div class="u-flex--s0-12 u-flex--s1200-1"></div>
        <div class="sidebar u-flex--s0-12 u-flex--s768-4 u-flex--s1024-3 u-flex--s1440-2">
            <div class="Sidemenu-desktop">
                {{ drupal_block(menu_belongs_id, FALSE) }}
            </div>
        </div>
        <div class="u-flex--s768-1"></div>
        <div class="Team-list right-content u-flex--wrap u-flex--s768 u-flex--s0-12 u-flex--s768-7 u-flex--s1024-7">
            {{ content.field_team_members }}
        </div>
    {% endif %}
{% endblock %}
