<div class="Calendar-item item-press anim anim--down">
    <div class="u-flex--s768 u-flex--alignCenter u-flex--justifyBetween">
        <div class="Calendar-itemDate">


        {% if content.field_only_year[0] %}
            {% set onlyYear = content.field_only_year[0]['#markup'] %}
        {% endif %}
        {% if content.field_date[0] %}
            {%  set firstYear = content.field_date[0]['#text'] | date("Y") %}
            {%  set firstMonth = content.field_date[0]['#text'] | date("M") %}
            {%  set firstDay = content.field_date[0]['#text'] | date("d") %}
        {% endif %}

        {% if content.field_date_2[0] is null %}
            {% if onlyYear == 'Sí'%}
                <span class="day t-h4">{{ firstYear }}</span>
            {% else %}
                <span class="day t-h4">{{ firstDay }} {{ firstMonth }}</span>
                <span class="year t-h4">{{ firstYear }}</span>
            {% endif %}


        {% else %}
            {% if onlyYear == 'Sí'%}
                <span class="day t-h4">{{ firstYear }}</span>
            {% else %}
                {%  set secondYear = content.field_date_2[0]['#text'] | date("Y") %}
                {%  set secondMonth = content.field_date_2[0]['#text'] | date("M") %}
                {%  set secondDay = content.field_date_2[0]['#text'] | date("d") %}

                {% if firstMonth == secondMonth %}

                    <span class="day t-h4">{{ firstDay }} - {{ secondDay }} {{ firstMonth }}</span>

                {% else %}

                    <span class="day t-h4">{{ firstDay }} {{ firstMonth }} - {{ secondDay }} {{ secondMonth }}</span>

                {% endif %}

                <span class="year t-h4">{{ (firstYear == secondYear) ? firstYear : firstYear ~ '-' ~ secondYear }}</span>

            {% endif %}

        {% endif %}

        </div>
        <div class="Calendar-itemInfo">
            <h2 class="Calendar-itemName t-h3" href="{{ url }}">{{ label }}</h2>
            <p class="Calendar-itemLocation t-h4" href="{{ url }}">{{ content.field_header_subtitle }}</p>
        </div>
    </div>
</div>
