{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set url = file_url(content.field_file[0]['#file'].getFileUri()) %}
<div class="Archive-item item-presentation anim anim--down">
    <span class="Archive-itemLink t-h3">{{ label }}
        {% set size = content.field_file[0]['#file'].getSize() %}
    </span>
    <div class="Archive-itemInfo">
        <span class="date t-h4">{{ content.field_date }}</span>
        {% if content.field_file[0]  %}
            <a class="link download" target="_blank" href="{{ url }}">{{ 'Download PDF' |t }} - {{ size | format_bytes }}{{ macros.icon('download') }}</a>
        {% endif %}
    </div>
</div>
