{% extends directory ~ '/templates/layout/hero/hero-page-with-card.html.twig' %}

{% block attributes %}
    {{ attributes.addClass('hotel-template') }}
{% endblock %}

{% block image %}style="background-image: url('{{ file_url(content.field_hotel_background_image.0['#item'].entity.uri.value) }}');"{% endblock %}
{% block mobileImage %}{{ content.field_hotel_background_image }}{% endblock %}
{% block cardAttributes %}itemscope itemtype="http://schema.org/Hotel"{% endblock %}

{% block card %}
    <div class="Card-info t-h5" itemprop="address">{{ content.field_hotel_place }}</div>
    <h1 class="Card-title t-h1" itemprop="name">{{ label }}</h1>
    <div class="Card-category">
        <div class="title t-h5">{{ 'Category'|t }}</div>
        {{ content.field_hotel_category }}
    </div>
    <div class="Card-intro anim anim--text" itemprop="description">
        {{ content.field_hotel_intro }}
    </div>
    <ul class="Card-list">
        <li class="Card-listItem">
            <span class="text t-h5">{{ 'Rooms'|t }}</span>
            <span class="value">{{ content.field_hotel_rooms }}</span>
        </li>
        <li class="Card-listItem" itemprop="brand" itemscope itemtype="http://schema.org/Brand">
            <span class="text t-h5">{{ 'Brand'|t }}</span>
            <span itemprop="name" class="value">{{ content.field_hotel_brand }}</span>
        </li>
        <li class="Card-listItem">
            <span class="text t-h5">{{ 'Operator'|t }}</span>
            <span class="value">{{ content.field_hotel_operator }}</span>
        </li>
        <li class="Card-listItem">
            <span class="text t-h5">{{ 'Segment'|t }}</span>
            <span class="value">{{ content.field_hotel_segment }}</span>
        </li>
        <li class="Card-listItem">
            <span class="text t-h5">{{ 'Contract type'|t }}</span>
            <span class="value">{{ content.field_hotel_contract }}</span>
        </li>
    </ul>

    <meta itemprop="image" content="{{ host ~ file_url(content.field_hotel_background_image.0['#item'].entity.uri.value) }}">
{% endblock %}

{% block content %}
    {{ content.field_modules_list }}
    {{ get_block_display_by_id('relatedhotelsblock') }}
{% endblock %}
