{% extends directory ~ '/templates/layout/hero/hero-page-with-card.html.twig' %}

{% block attributes %}
    {{ attributes.addClass('offer-list') }}
{% endblock %}

{% block image %}style="background-image: url('{{ file_url(content.field_background_image.0['#item'].entity.uri.value) }}');"{% endblock %}
{% block mobileImage %}{{ content.field_background_image }}{% endblock %}
{% block cardAttributes %}{% endblock %}

{% block card %}
    <h1 class="Card-title t-h1" itemprop="name">{{ content.field_header_title }}</h1>
    <div class="Card-intro anim anim--text" itemprop="description">
        {{ content.field_intro }}
    </div>
{% endblock %}

{% block content %}
<div class="u-wrapper u-flex--s768 u-flex--justifyCenter">
    <div class="u-flex--s0-12 u-flex--s768-8">
        <div class="List">
            {{ content.field_offers }}
        </div>
    </div>
</div>
{% endblock %}
