{% extends directory ~ '/templates/layout/hero/hero-page-basic.html.twig' %}

{% block attributes %}
    {{ attributes.addClass('offer-template') }}
{% endblock %}

{% block heroCopies %}
    <h1 class="t-h1" itemprop="name">{{ content.field_header_title }}</h1>
    <p class="t-h4">{{ content.field_header_subtitle }}</p>
    <a class="btn hollow-light js-custom-scroll" href="">
        <span>
            {{ content.field_cta_text }}
        </span>
    </a>
{% endblock %}

{% block content %}
    <div class="u-wrapper is-basic u-flex--alignCenter u-flex--s768-10">
        <div class="main-content">
            {{ content.field_modules_list }}
            <div id="form-anchor" class="form">
                <h2 class="t-h2">{{ content.field_cta_text }}</h2>
                <p class="t-h5">{{ content.field_header_title }}</p>
                {{ content.field_form }}
            </div>
        </div>
    </div>

    {{ attach_library('hipartners/form') }}

{% endblock %}
