
{% extends directory ~ '/templates/layout/hero/hero-page-no-card.html.twig' %}

{% block attributes %}
    {{ attributes.addClass('hotel-list') }}
{% endblock %}

{% set image = file_url(content.field_list_image.0['#item'].entity.uri.value) %}

{% set hasbgimage = 'has-image parallax' %}

{% if hasbgimage %}
    {% block bgimage %}{{ hasbgimage }}{% endblock %}
{% endif %}


{% block heroCopies %}
    <h1 class="t-h1">{{ label }}</h1>
    {{ content.field_list_subtitle }}
{% endblock %}

{% block content %}
    <div class="hotels-element-container u-wrapper">
        <div>{{ content.field_hotels }}</div>
    </div>
{% endblock %}
