{% extends '@runroom/styleguide/templates/_section.html.twig' %}

{% block id %}Colors{% endblock %}
{% block title %}Colors{% endblock %}
{% block description %}{% endblock %}

{% set colorsNeutro = {
	"c-white": "#fff",
	"c-black": "#000",
	"c-neutro900": "#333",
} %}

{% set colors = {
	"c-primary100": "#f0f2fb",
	"c-primary300": "#dadff0",
	"c-primary500": "#b3bddd",
	"c-primary700": "#8698d6",
	"c-primary900": "#031249",
} %}

{% block codeLanguage %}scss{% endblock %}

{%- block code -%}
<h3>Base</h3>
<ul class="u-flex u-flex--wrap" style="margin-bottom: 40px;">
    {% for key, color in colorsNeutro %}
        {% set value = color|first == '#' ? color : colorsNeutro[color[1:]] %}
        <li class="colors__item">
            <span class="colors__pigment {% if value == '#fff' %}colors__pigment--white{% endif %}" style="background:{{ value }};"></span><span><b>{{ key }}</b>: {{ value }}</span>
        </li>
    {% endfor %}
</ul>
<h3>Theme Club</h3>
<ul class="u-flex u-flex--wrap">
    {% for key, color in colors %}
        {% set value = color|first == '#' ? color : colors[color[1:]] %}
        <li class="colors__item">
            <span class="colors__pigment {% if value == '#fff' %}colors__pigment--white{% endif %}" style="background:{{ value }};"></span><span><b>{{ key }}</b>: {{ value }}</span>
        </li>
    {% endfor %}
</ul>
{%- endblock -%}
