<!DOCTYPE html>
<html{{ html_attributes.addClass('no-js') }}>
    <head>
        {% include '@runroom/modules/_tagmanager.html.twig' %}
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>

        {% include '@runroom/modules/_favicon.html.twig' %}

        <style type="text/css">{% apply spaceless %}
            {% block crp %}
                {% include '@runroom/helpers/_inline-crp.html.twig' with { crp: 'crp.default' } %}
            {% endblock %}
        {% endapply %}</style>
        <js-placeholder token="{{ placeholder_token|raw }}">
    </head>

    {% set loggedClass = logged_in ? 'logged' : 'not-logged' %}

    <body{{ attributes.addClass(bodyClass).addClass(loggedClass) }}>
        {% include '@runroom/modules/_tagmanager-noscript.html.twig' %}

        {{ page_top }}
        {% block page %}
            {{ page }}
        {% endblock %}
        {{ page_bottom }}

        {{ drupal_entity('block', 'tabs') }}
        {{ drupal_entity('block', 'runroom_messages') }}

        {% include '@runroom/modules/_cookies-scripts.html.twig' %}
        {% include '@runroom/modules/_cookies.html.twig' %}

        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>
